<%- include("../includes/header.ejs", {title:"success"}); %>

<br />
<br />
<br />

<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Location Data was successfully saved.
    </div>
</div>


<br />
<br />
<br />
<br />
<a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

<button type="button"><a href="/location/all">  <u>Locations - View All</u></a></button>

<br />
<br />
<br />

<%- include("../includes/footer.ejs"); %>