<!DOCTYPE html>
<html>
<head>
    <style>
        #container {
            width: 100%;

        }

        footer {
            padding: 2em;
            color: white;
            background-color: purple;
            clear: left;
            text-align: center;
            postion: absolute;
            bottom: 0;


        }
        a {
            color : black;
        }

        body {
            background-color : #fff7b9;

        }


    </style>
</head>
<body>

<footer>Winery Database by TazzerLabs</footer>
</div>

</body>
</html>