<%- include("./includes/header.ejs", {title:"About Us"}); %>

<h1>About Us</h1>
<p1>TazzerLabs is a computer security company that has now look into creating a friendly
     Website for the wine enthusiast.</p1>
<br/>
<br />
<p2>The purpose of this web application is to keep track of the winery business as to how much
    wine, company connections, specialties, locations, and overall the winery in itself.
    Currently working on a customer feature that will allow customers to see a selection of wine
    that is filtered via their selection of the wine's age</p2>
<br/>
<br />
<p3>If you want to know about the info on the wine business as a whole, and what where to find
    specific wines, you have come to a great place to start your search.</p3>

<br/>
<br/>
<a href="/images/erd.jpg"><u> ER Diagram </u></a>
<br />
<a href="/images/RelationaSchema.jpg"><u> Relational Schema </u></a>
<br/>
<br/>

<%- include("./includes/footer.ejs"); %>