<%- include("./includes/header.ejs", {title: title}); %>

<h1>Winery Database Selection:</h1>


<p>

    <img STYLE="position:absolute; TOP:220px; LEFT:600px; WIDTH:120px; HEIGHT:180px" src="/images/grape.png"  a />
    <br />
    <a href="/companies/all"><u>Companies - View All</u></a>
    <br />
    <a href="/specialty/all"><u>Specialty - View All</u></a>
    <br />
    <a href="/location/all"><u>Location - View All</u></a>
    <br />
    <a href="/wineries/all"><u>Wineries - View All</u></a>
    <br />
    <a href="/wines/all"><u>Wines - View All</u></a>
    <br />
    <a href="/user/selectwine"><u>User Select Wine</u></a>
    <br />
    <a href="/about">  <u>About Page</u></a>
    <br />
    <br />

</p>


<%- include("./includes/footer.ejs"); %>
